<div class="row">
  <div class="col-md-6 mx-auto mt-5">
      <div class="card">
          <div class="card-body">
            <div class="displayTable">
              <div class="displayTableCell">
                <div class="authBlock">
             <h1 class="text-center">Restablecer Contraseña</h1>
             <p></p>
             <form>
               <a>Ingrese su correo electrónico</a>
                  <div class="formgroup">
                  <label for="text">Email:</label>
                  <input type="email" class="formControl" formControlName="email" placeholder="ejemplo@example.com" #passwordResetEmail required>
                  </div>
                  <div class="formGroup">
                    <div class="text-center">
                      <button type="submit" class="btn  btn-primary" (click)="authService.ForgotPassword(passwordResetEmail.value)">Enviar</button>
                    </div>
                  </div>
              </form>
              <div class="form-gruop">
              <p>¿quieres regresar?&ensp;<a [routerLink]="['/sign-in']">Iniciar sesion</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
