<div class="card-deck">
  <div class="card  shadow" style="width:20rem;">
    <img src="../../../assets/img/fit.jpg" class="card-img-top" alt="...">
    <div class="card-body text-align">
      <h5 class="card-title">Rutina para Correr</h5>
      <p class="text-justify">Se recomienda recorrer entre 40-45 minutos tres o cuatro días a la semana y respetando el déficit calórico de la dieta, puede llegar a quemar 100 calorías por kilómetro. Entonces, si corres entre tres y cinco kilómetros, quemarás entre 300 y 500 calorías.</p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
    </div>
  </div>
  <div class="card  shadow" style="width:20rem;">
    <img src="../../../assets/img/fit2.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Rutina para Remo</h5>
      <p class="text-justify">Se recomienda recorrer entre 30-35 minutos cinco o 6 días a la semana y respetando el déficit calórico de la dieta, puede llegar a quemar un alto índice calórico aumentando la brazada en cada repetición al remar quemando 98 calorías por kilómetro.</p>
          <a href="#" class="btn btn-primary">Seleccionar</a>
    </div>
  </div>
  <div class="card  shadow" style="width:20rem;">
    <img src="../../../assets/img/nadar.jpg" class="card-img-top" alt="...">
    <div class="card-body text-center">
      <h5 class="card-title">Rutina para natacción</h5>
      <p class="text-justify">Se recomienda recorrer entre 30-45 minutos de estilo libre y puede quemar alrededor de 300 calorías, también por medio de los diferentes estilos de natación puedes quemar más de 400 calorías, en 100 metros de espalda,100 metros de pecho, 100 metros de crol y 100metros de mariposa.</p>
           <a href="#" class="btn btn-primary">Seleccionar</a>
    </div>
  </div>

  <div class="card  shadow" style="width:20rem;">
    <img src="../../../assets/img/cicla.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Rutina para ciclismo</h5>
      <p class="text-justify">Se recomienda recorrer entre 2-3 entrenamientos intensivos e intervalos durante la semana de 2 horas de duración y una salida de fondo de unas 4 horas el fin de semana, dicho gasto calórico puede oscilar entre 400 y 1000 calorías por hora.</p>
           <a href="#" class="btn btn-primary">Seleccionar</a>
    </div>
  </div>

</div>

