<br>
<div class="text-center"style="display:flex;justify-content:center;">
  <div class="container-img">
    <img  class="img" src="../../../assets/img/des1.jpg" alt="">
    <div>
     <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
     data-target="#modalQuickView">Desayunos</button>
    </div>
  </div>
  <div class="container-img">
    <img class="img" src="../../../assets/img/des2.jpg" alt="">
    <div>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal"
    data-target="#modalQuickView2">Almuerzos</button>
    </div>
  </div>
  <div class="container-img">
    <img class="img"src="../../../assets/img/des3.jpg" alt="">
    <div>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalQuickView3">Cenas</button>
    </div>
  </div>
</div>
<!-- Modal: modalQuickView -->
<div class="modal fade" id="modalQuickView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../assets/img/desayuno1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/desayuno2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/desayuno3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/desayuno4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/desayuno5.jpg" alt="Fifth slide">
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb" data-slide-to="1">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb" data-slide-to="2">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb" data-slide-to="3">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb" data-slide-to="4">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(27).jpg"
                    width="60">
                </li>
              </ol>
            </div>
            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>Desayunos</strong>
            </h2>
            <h4 class="h4-responsive">
            </h4>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Desayuno 1<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                   Este desayuno trae:
                   <br>
                   1 Cereal
                   <br> 
                   1 Cereza reseca
                   <br>
                   1 Manzana
                   <br>
                   1 Jugo de naranja
                   <br>
                  </div>
                </div>

              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Desayuno 2<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este desayuno trae:
                    <br>
                    3 Panes
                    <br>
                    2 Tomates cherry
                    <br>
                    2 Brocolis
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Desayuno 3 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>

                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este desayuno trae:
                    <br> 
                    1 Plato de cereales
                    <br> 
                    1 Banano
                    <br>
                    10 Mani
                    <br>
                    1/4 Tazon de avena
                    <br>
                    1/4 Tazon de pasas
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFour4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                    aria-expanded="false" aria-controls="collapseFour4">
                    <h5 class="mb-0">
                      Desayuno 4 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>

                </div>
                <!-- Card body -->
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este desayuno trae:
                    <br> 
                    2 Huevos
                    <br> 
                    2 Salchicha
                    <br> 
                    1 Manzana
                    <br> 
                    2 Trozo de naranja
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFive5">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
                    aria-expanded="false" aria-controls="collapseFive5">
                    <h5 class="mb-0">
                      Desayuno 5 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>

                </div>
                <!-- Card body -->
                <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este desayuno trae:
                    <br>
                    2 Panes integrales
                    <br>
                    1 Huevo
                    <br>
                    1/4 Aguacate 
                  </div>
                </div>
              </div>
            </div>





            <!-- Accordion wrapper -->
            <!-- Add to Cart -->
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <select class="form-control">
                      <option value=""disable selected>Seleccione un desayuno</option>
                      <option value="1">Opción 1</option>
                      <option value="2">Opción 2</option>
                      <option value="3">Opción 3</option>
                      <option value="4">Opción 4</option>
                      <option value="5">Opción 5</option>
                    </select>
                  </div>


                </div>
              </div>
              <div class="text-center">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button (click)="envioData()"class="btn btn-primary">Guardar&nbsp;<i class="fa fa-save"></i>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Almuerzo-->

<!-- Modal: modalQuickView -->
<div class="modal fade" id="modalQuickView2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb3" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../assets/img/almuerzo1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/almuerzo2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/almuerzo3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/almuerzo4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/almuerzo5.jpg" alt="Fifth slide">
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-thumb3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumb3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-thumb3" data-slide-to="0" class="active">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb3" data-slide-to="1">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb3" data-slide-to="2">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb3" data-slide-to="3">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb3" data-slide-to="4">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(27).jpg"
                    width="60">
                </li>
              </ol>
            </div>
            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>Almuerzos</strong>
            </h2>
            <h4 class="h4-responsive">
            </h4>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Almuerzo 1<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este almuerzo trae:
                    <br>
                    1 carne de cerdo salsa bbq
                    <br>
                    3 esparragos
                    <br>
                    1 papa
                  </div>
                </div>

              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Almuerzo 2<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este almuerzo trae:
                    <br>
                    4 trozo de carne de cerdo
                    <br>
                    4 esparragos
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Almuerzo 3 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este almuerzo trae:
                    <br>
                    7 alitas
                    <br> 
                    1 perejil
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFour4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                    aria-expanded="false" aria-controls="collapseFour4">
                    <h5 class="mb-0">
                     Almuerzo 4 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este almuerzo trae:
                    <br>
                    1 Pepino
                    <br>
                    3 Hojas de lechuga
                    <br>
                    3 Tomate cherry amarillo
                    <br>
                    2 Ramitas rucula
                    <br>
                    2 Rábano
                    <br>
                  </div>
                </div>
              </div>
  
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFive5">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
                    aria-expanded="false" aria-controls="collapseFive5">
                    <h5 class="mb-0">
                      Almuerzo 5 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Este almuerzo trae:
                    <br>
                    1 Pedazo de pescado
                    <br>
                    1 limon
                    <br>
                    1 Papa
                    <br>
                    1 Rábano
                    <br>
                    1/4 Calabacin amarillo
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->
            <!-- Add to Cart -->
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <select class=" form-control">
                      <option value="" disabled selected>Seleccione una opción</option>
                      <option value="1">Opción 1</option>
                      <option value="2">Opción 2</option>
                      <option value="3">Opción 3</option>
                      <option value="4">Opción 4</option>
                      <option value="5">Opción 5</option>
                    </select>
                  </div>


                </div>
              </div>
              <div class="text-center">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button class="btn btn-primary">Guardar&nbsp;<i class="fa fa-save"></i>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Cenas-->

<!-- Modal: modalQuickView -->
<div class="modal fade" id="modalQuickView3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5">
            <!--Carousel Wrapper-->
            <div id="carousel-thumb2" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">
              <!--Slides-->
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../assets/img/cena1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/cena2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/cena3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/cena4.jpg" alt="Fourth slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="../../../assets/img/cena5.jpg" alt="Fifth slide">
                </div>
              </div>
              <!--/.Slides-->
              <!--Controls-->
              <a class="carousel-control-prev" href="#carousel-thumb2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-thumb2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <!--/.Controls-->
              <ol class="carousel-indicators">
                <li data-target="#carousel-thumb2" data-slide-to="0" class="active">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb2" data-slide-to="1">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb2" data-slide-to="2">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb2" data-slide-to="3">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(26).jpg"
                    width="60">
                </li>
                <li data-target="#carousel-thumb2" data-slide-to="4">
                  <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(27).jpg"
                    width="60">
                </li>
              </ol>
            </div>
            <!--/.Carousel Wrapper-->
          </div>
          <div class="col-lg-7">
            <h2 class="h2-responsive product-name">
              <strong>Cenas</strong>
            </h2>
            <h4 class="h4-responsive">
            </h4>
            <!--Accordion wrapper-->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingOne1">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                    aria-controls="collapseOne1">
                    <h5 class="mb-0">
                      Cena 1<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Esta cena trae:
                    <br>
                    1 Carne de res
                    <br>
                    1 Zanahorias
                    <br>
                    1/2 Brocoli 
                    <br>
                    1/2 Coliflor
                  </div>
                </div>

              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingTwo2">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                    aria-expanded="false" aria-controls="collapseTwo2">
                    <h5 class="mb-0">
                      Cena 2<i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Esta cena trae:
                    <br>
                    4 Trozos de carne de res
                    <br>
                    1 Pico de gallo
                    <br>
                    4 Rucula
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
              <!-- Accordion card -->
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingThree3">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                    aria-expanded="false" aria-controls="collapseThree3">
                    <h5 class="mb-0">
                      Cena 3 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Esta cena trae:
                    <br>
                    1 Huevo
                    <br>
                    2 Ramas de cilantro
                    <br>
                    1 Plato de arroz
                    <br>
                    1/2 Aguacate
                    <br>
                    1 Pepino
                  </div>
                </div>
              </div>
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFour4">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                    aria-expanded="false" aria-controls="collapseFour4">
                    <h5 class="mb-0">
                      Cena 4 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingFour4"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Esta cena trae:
                    <br>
                    1/4 Espinaca
                    <br>
                    100g Ajonjoli
                    <br>
                    1/4 Brocoli
                    <br>
                    250g Espaguetti
                    <br>
                    300g Trozos de pollo
                  </div>
                </div>
              </div>
  
              <div class="card">
                <!-- Card header -->
                <div class="card-header" role="tab" id="headingFive5">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
                    aria-expanded="false" aria-controls="collapseFive5">
                    <h5 class="mb-0">
                      Cena 5 <i class="fa fa-angle-down"></i>
                    </h5>
                  </a>
                </div>
                <!-- Card body -->
                <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingFive5"
                  data-parent="#accordionEx">
                  <div class="card-body">
                    Esta cena trae:
                    <br>
                    400g carne
                    <br>
                    2 Huevos
                    <br>
                    1 Hoja de lechuga
                  </div>
                </div>
              </div>
              <!-- Accordion card -->
            </div>
            <!-- Accordion wrapper -->
            <!-- Add to Cart -->
            <div class="card-body">
              <div class="row">
                <div class="col-8">
                  <div class="form-group">
                    <select class=" form-control">
                      <option value="" disabled selected>Seleccione una opción</option>
                      <option value="1">Opción 1</option>
                      <option value="2">Opción 2</option>
                      <option value="3">Opción 3</option>
                      <option value="4">Opción 4</option>
                      <option value="5">Opción 5</option>
                    </select>
                  </div>


                </div>
              </div>
              <div class="text-center">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                &nbsp;
                <button class="btn btn-primary">Guardar&nbsp;<i class="fa fa-save"></i>
                </button>
              </div>
            </div>
            <!-- /.Add to Cart -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
