#fa-angle-down{
    font-size:48px;
}
#fa-save{
    font-size:36px;
}
.img{
    width:280px;
    height: 200px;
    margin-left:15px;
    margin-right:15px;
    margin-bottom: 15px;
}

.container-img{
    display:flex;
    flex-direction: column;
}